body {
    background-color: lightblue;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5e769e; /*achtergrond kleur menu*/
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: rgb(0, 0, 0); /*tekst kleur menu*/
    text-align: center;
    padding: 20px 20px; /*grootte blok menu*/
    text-decoration: none;
  }
  
li a:hover {
    background-color: #ffffff; /*achtergrond kleur menu als je er op gaat*/
  }

 h1 {
  font-family: Arial, sans-serif; /*font titel op pagina*/
  font-size: 50px; /*size titel op pagina*/
  color: #000000; /*kleur titel op pagina*/
  font-style: normal; /*font titel op pagina*/
  margin: auto;
  padding: auto;
  text-align: left;
  }
  
  
 
  
