body {
    margin: 0;  /*hierdoor zijn het menu en de footer vast aan de website en zweven ze niet ergens rond*/
    background-color: lightblue; /*achtergrond kleur van mijn website*/
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000; /*achtergrond kleur van het menu*/
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: rgb(255, 255, 255); /*tekst kleur van het menu*/
    text-align: center;
    padding: 13px 13px; /*grootte van het blok menu*/
    text-decoration: none;
  }
  
li a:hover {
    background-color: #ff0000; /*achtergrond kleur menu als je er over heen gaat 'hoveren' */
  }

 h1 {
  font-family: Arial, sans-serif; /*lettertype van de titel op de pagina*/
  font-size: 50px; /*grootte van letters van de titel op de pagina*/
  color: #000000; /*kleur van de titel op mijn pagina*/
  font-style: normal; /*lettertype van de titel op mijn pagina*/
  margin: auto;
  padding: auto;
  text-align: left;
  }
  
  p {
    font-family: "Lucida Console", "Courier New", monospace;
}

.footer { 
    background-color: rgb(0, 0, 0); /* Achtergrondkleur van de footer (groen) */
    padding: 12px; /* Ruimte rondom de inhoud van de footer */ 
    text-align: center; /* Centreer de tekst in de footer */
    color: lightblue; /* Tekstkleur van de footer */
    position: relative; /* Positie van waar de footer staat */ 
    width: 100%; /* Breedte van de footer */
    left: 1; /* Ruimte naar de linkerkant */
}
 
  
